{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>{{ pagename }}</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form method="GET">
                    <select name="lang" id="id_lang">
                    <option value="" {% if not request.GET.lang %} selected {% endif %}>---------</option>
                    <option value="py" {% if request.GET.lang == "py" %} selected {% endif %}>Python</option>
                    <option value="js" {% if request.GET.lang == "js" %} selected {% endif %}>JavaScript</option>
                    <option value="cpp" {% if request.GET.lang == "cpp" %} selected {% endif %}>C++</option>
                </select>
                <input type="hidden" value="{{ request.GET.my }}" name="my">
                <button type="submit">Применить</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col"><a {% if sort is None %} href="" {% else %} href="?sort={{ sort|default:'name' }}" {% endif %}>Название</a>
                            {% if sort == "name" %}<i class="fa-solid fa-sort-up"></i>{% endif %}
                            {% if sort == "-name" %}<i class="fa-solid fa-sort-down"></i>{% endif %}
                        </th>
                        <th scope="col">Дата создания</th>
                        <th scope="col">Язык</th>
                        <th scope="col">Автор</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for snippet in snippets %}
                    <tr>
                        <td scope="row">{{ snippet.id }}</td>
                        <td>
                            <a href="{% url 'snippets-detail' snippet.id %}">{{ snippet.name }}</a>
                            {% if request.user.is_authenticated and  request.user == snippet.user %}
                                <a href={% url 'snippets-delete' snippet.id %}>
                                    <i style="color: red" class="fa-solid fa-trash"></i>
                                </a>

                                <a href={% url 'snippets-update' snippet.id %}>
                                    <i style="color: #0069d9" class="fa-solid fa-pen"></i>
                                </a>
                            {% endif %}
                        </td>
                        <td>{{ snippet.creation_date | date:"d.m.Y H:i" }}</td>
                        <td>{{ snippet.get_lang_display }}</td>
                        <td>{{ snippet.user.username | default:"Anonimous"}}</td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
                <div align="right">
                    <i style="color: gray;">Всего сниппетов: {{ snippets|length }}</i>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
